<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <img width="300" alt="Quote Logo" src="http://famous-quotes.aswdc.in/images/quote-logo.png">
</div>
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
</form>
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Quote</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
</form>
<button class="btn btn-outline-success">Like</button>
<button class="btn btn-outline-danger">Dislike</button>

