<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div >
<div>
  <img width="300" alt="Quote Logo" src="http://famous-quotes.aswdc.in/images/quote-logo.png">
</div>
<div class="jumbotron">
<form>
  <div class="form-group">
    <label for="formGroupYourName">Your Name</label>
    <input type="text" class="form-control" id="formGroupYourName" placeholder="Your Name">
  </div>
</form>
<form>
  <div class="form-group">
    <label for="formGroupQuote">Quote</label>
    <input type="text" class="form-control" id="formGroupQuote" placeholder="Quote">
  </div>
</form>
<button class="btn btn-outline-success">Like</button>
<button class="btn btn-outline-danger">Dislike</button><br>

<button class="btn btn-outline-danger"> SUBMIT</button>
</div>