<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div >
<div>
  <h1>QUOTE</h1>
</div>
<div class="jumbotron">
<form> 
  <div class="form-group">
    <label for="formGroupYourName">Author</label>
    <input type="text" class="form-control" id="formGroupYourName" placeholder="Author">
  </div>
</form>
<form>
  <div class="form-group">
    <label for="formGroupQuote">Quote</label>
    <input type="text" class="form-control" id="formGroupQuote" placeholder="Quote" >
  </div>
</form>


<button class="btn btn-outline-danger"> SUBMIT</button>
</div>